

img.align-center {
	display:block;
	margin: 0px auto;
}

img.large {
	width: 800px;
	height: 230px;
	border-radius: 50px;
}

img.medium {
	width: 750px;
	height: 300px;
	border-radius: 50px;
}

img.small {
	width: 300px;
	height: 400px;
	border-radius: 50px;
}

body {
    font-size: 18px;
    font-family: "Give You Glory";
    font-style: normal;
    font-weight: 400;
	background-image: url("../images/herz.gif");
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 80px 80px;			
}


nav {
    font-size: 18px;
    font-family: "Give You Glory";
    font-style: bold;
    font-weight: 400;
}

h1 {
	font-family: "Give You Glory";
	font-size: 48px;
	font-style: normal;
	font-weight: 400px;	
}

h2 {
	font-family:"Give You Glory";
	font-size:28px;
	font-style: bold;
	font-weight: 400px;
}

p {
	width: 900px;
	margin: 20px auto 20px auto;
	padding: 30px auto 30px auto;
	text-align: left;
	font-weight: normal;
	text-align: justify;
}

ul {
	width: 900px;
	padding: 10px auto 10px auto;
	margin: 10px auto 10px auto;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}

a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 18px 5px 18px;
}

a:hover , a.on {
	color: #cc3333;
	background-color: #ffffff;
}

